.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .navbar, .footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.container {
    width: 90%;
    margin: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links {
    list-style: none;
    display: flex;
    margin-bottom: 0px;

}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff6347;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #222;
    color: #bbb;
}

.full-width {
    width: 100%;
}

.full-width {
    width: 100%;
}


.form-container {
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

form label,
form input,
form textarea,
form select,
form button {
    width: 100%;
    transition: all 0.3s ease;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #ff6347;
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 0.5em;
}

form button {
    width: auto;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
    padding: 0.5em;
}

.carousel-item img {
    max-height: 80vh;
    object-fit: cover;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #home {
        flex-direction: column;
        height: 60vh;
    }
}


/*FORMULARIO CONTACTO*/

.container{
    width: 1000px!important;
   
}
p{
    font-size: 12px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}
.bg-primary{
    background-color: #01d28e !important ;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;

}
.form-control  {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    
}


.form-control:focus,.form-control:active {
    border-color: #01d28e !important;
}

.form-check  {
    color: #000;
    
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.form-label  {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.btn.btn-primary {
    background: #01d28e !important;
    border-color: #01d28e !important;
    color: #fff;
    width: 100px;
    border-radius: 0!important;
    
}
.btn.btn-primary:hover{
    background-color: #28a745!important;
}

.bi{
    font-size: 50px;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%!important;
        padding-bottom: 207px!important;
    }
  }
  
  .social-icon{
    color: #fff;
    height:2px;
    margin-right: 40px;
    margin-bottom: 10px;
  }




